<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <welcome-file-list>
        <welcome-file>stores</welcome-file>
    </welcome-file-list>
    <security-constraint> 
        <web-resource-collection> 
            <url-pattern>/cron/*</url-pattern> 
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name> 
        </auth-constraint> 
    </security-constraint>
    <security-constraint> 
        <web-resource-collection> 
            <url-pattern>/admin/*</url-pattern> 
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name> 
        </auth-constraint> 
    </security-constraint>
    
    <!-- Review Actions -->
    <servlet>
      <servlet-name>reviewAdd</servlet-name>
      <servlet-class>geonotes.controller.ReviewAddServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>reviewImageUpdate</servlet-name>
      <servlet-class>geonotes.controller.ReviewImageServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>reviewUpdate</servlet-name>
      <servlet-class>geonotes.controller.ReviewUpdateServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>reviewVote</servlet-name>
      <servlet-class>geonotes.controller.ReviewVoteServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>reviewsOwn</servlet-name>
      <servlet-class>geonotes.controller.ReviewsOwnServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>reviewAdd</servlet-name>
      <url-pattern>/reviewAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>reviewImageUpdate</servlet-name>
      <url-pattern>/reviewImageUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>reviewUpdate</servlet-name>
      <url-pattern>/reviewUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>reviewVote</servlet-name>
      <url-pattern>/reviewVote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>reviewsOwn</servlet-name>
      <url-pattern>/reviewsOwn</url-pattern>
    </servlet-mapping>
    
    <!-- Dish Actions -->
    <servlet>
      <servlet-name>dish</servlet-name>
      <servlet-class>geonotes.controller.DishServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>dishAdd</servlet-name>
      <servlet-class>geonotes.controller.DishAddServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>dishUpdate</servlet-name>
      <servlet-class>geonotes.controller.DishUpdateServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>dishVote</servlet-name>
      <servlet-class>geonotes.controller.DishVoteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>dish</servlet-name>
      <url-pattern>/dish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>dishAdd</servlet-name>
      <url-pattern>/dishAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>dishUpdate</servlet-name>
      <url-pattern>/dishUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>dishVote</servlet-name>
      <url-pattern>/dishVote</url-pattern>
    </servlet-mapping>
    
    <!-- Images -->
    <servlet>
      <servlet-name>reviewImage</servlet-name>
      <servlet-class>geonotes.images.ReviewImage</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>reviewThumbNailImage</servlet-name>
      <servlet-class>geonotes.images.ReviewThumbNailImage</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>reviewLastThumbNailImage</servlet-name>
      <servlet-class>geonotes.images.ReviewLastThumbNailImage</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>reviewThumbNailImage</servlet-name>
      <url-pattern>/reviewThumbNailImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>reviewLastThumbNailImage</servlet-name>
      <url-pattern>/reviewLastThumbNailImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>reviewImage</servlet-name>
      <url-pattern>/reviewImage</url-pattern>
    </servlet-mapping>
    
    <!-- Store Actions -->
    <servlet>
      <servlet-name>store</servlet-name>
      <servlet-class>geonotes.controller.StoreServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>storeAdd</servlet-name>
      <servlet-class>geonotes.controller.StoreAddServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>storeAddLocation</servlet-name>
      <servlet-class>geonotes.controller.StoreAddLocationServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>storeUpdateLocation</servlet-name>
      <servlet-class>geonotes.controller.StoreUpdateLocationServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>storeUpdate</servlet-name>
      <servlet-class>geonotes.controller.StoreUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>store</servlet-name>
      <url-pattern>/store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>storeAdd</servlet-name>
      <url-pattern>/storeAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>storeAddLocation</servlet-name>
      <url-pattern>/storeAddLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>storeUpdate</servlet-name>
      <url-pattern>/storeUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>storeUpdateLocation</servlet-name>
      <url-pattern>/storeUpdateLocation</url-pattern>
    </servlet-mapping>
    
    <!-- Stores -->
    <servlet>
      <servlet-name>stores</servlet-name>
      <jsp-file>/WEB-INF/pages/stores.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
      <servlet-name>stores</servlet-name>
      <url-pattern>/stores</url-pattern>
    </servlet-mapping>
    
    <!-- Change location -->
    <servlet>
      <servlet-name>locationChange</servlet-name>
      <jsp-file>/WEB-INF/pages/locationChange.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
      <servlet-name>locationChange</servlet-name>
      <url-pattern>/locationChange</url-pattern>
    </servlet-mapping>
    
    <!-- Xml Data -->
    <servlet>
      <servlet-name>storesXml</servlet-name>
      <servlet-class>geonotes.controller.StoresXmlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>storesXml</servlet-name>
      <url-pattern>/storesXml</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>dishesXml</servlet-name>
      <servlet-class>geonotes.controller.DishesXmlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>dishesXml</servlet-name>
      <url-pattern>/dishesXml</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>reviewsXml</servlet-name>
      <servlet-class>geonotes.controller.ReviewsXmlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>reviewsXml</servlet-name>
      <url-pattern>/reviewsXml</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>reviewsOwnXml</servlet-name>
      <servlet-class>geonotes.controller.ReviewsOwnXmlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>reviewsOwnXml</servlet-name>
      <url-pattern>/reviewsOwnXml</url-pattern>
    </servlet-mapping>
    
    <!-- Admin only -->
    <servlet>
      <servlet-name>admin/dataUpdate</servlet-name>
      <jsp-file>/WEB-INF/admin/dataUpdate.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
      <servlet-name>admin/dataUpdate</servlet-name>
      <url-pattern>/admin/dataUpdate</url-pattern>
    </servlet-mapping>

    <!-- User filter -->
    <filter>
      <filter-name>UserFilter</filter-name>
      <display-name>UserFilter</display-name>
      <description></description>
      <filter-class>geonotes.utils.UserFilter</filter-class>
    </filter>    
    <filter-mapping>
      <filter-name>UserFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <error-page>
      <exception-type>java.lang.Exception</exception-type>
      <location>/WEB-INF/redirects/error.jsp</location>
    </error-page>
    
    <mime-mapping> 
      <extension>mf</extension>
      <mime-type>text/cache-manifest</mime-type> 
  </mime-mapping>
</web-app>
