#mapCanvas {width: 300px;height: 300px;float: left;}
#infoPanel {float: left;margin-left: 10px;}
#infoPanel div {margin-bottom: 5px;}

a:link, a:visited {color:DarkBlue;}
a.add:link, a.add:visited, a.edit:link, a.edit:visited  {text-decoration:none; color:#909090; font-size:small;}

.addTh { padding-left: 5px; font-weight:normal;}

.data th {background-color: WhiteSmoke;}
.data table {border-collapse:collapse;}
.data table,.data th,.data td { padding: 3px; border: 1px solid black; word-wrap:break-word; }

.button {margin-right:30px;}

h2 { font-size: medium; margin-bottom: 0; padding-bottom: 0;}

.footer { font-size:small; }

#navlist li {display: inline; list-style-type: none; padding-right: 20px;}

.center { text-align: center; }