<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <welcome-file-list>
        <welcome-file>stores.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint> 
        <web-resource-collection> 
            <url-pattern>/cron/*</url-pattern> 
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name> 
        </auth-constraint> 
    </security-constraint>
    <!-- Review images -->
    <servlet>
      <servlet-name>reviewImage</servlet-name>
      <servlet-class>geonotes.ReviewImage</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>reviewThumbNailImage</servlet-name>
      <servlet-class>geonotes.ReviewThumbNailImage</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>reviewLastThumbNailImage</servlet-name>
      <servlet-class>geonotes.ReviewLastThumbNailImage</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>reviewThumbNailImage</servlet-name>
      <url-pattern>/reviewThumbNailImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>reviewLastThumbNailImage</servlet-name>
      <url-pattern>/reviewLastThumbNailImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>reviewImage</servlet-name>
      <url-pattern>/reviewImage</url-pattern>
    </servlet-mapping>
    <filter>
      <filter-name>UserFilter</filter-name>
      <display-name>UserFilter</display-name>
      <description></description>
      <filter-class>geonotes.utils.UserFilter</filter-class>
    </filter>    
    <filter-mapping>
      <filter-name>UserFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
