<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <welcome-file-list>
        <welcome-file>geoNotes.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint> 
        <web-resource-collection> 
            <url-pattern>/cron/*</url-pattern> 
        </web-resource-collection> 
        <web-resource-collection> 
            <url-pattern>/bulkUpload.jsp</url-pattern> 
        </web-resource-collection> 
        <web-resource-collection> 
            <url-pattern>/bulkDelete.jsp</url-pattern> 
        </web-resource-collection> 
        <auth-constraint>
            <role-name>admin</role-name> 
        </auth-constraint> 
    </security-constraint>
    <servlet>
      <servlet-name>geoNoteImage</servlet-name>
      <servlet-class>geonotes.GeoNoteImage</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>geoNoteThumbNailImage</servlet-name>
      <servlet-class>geonotes.GeoNoteThumbNailImage</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>geoNoteThumbNailImage</servlet-name>
      <url-pattern>/geoNoteThumbNailImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>geoNoteImage</servlet-name>
      <url-pattern>/geoNoteImage</url-pattern>
    </servlet-mapping>
    <!-- Review images -->
    <servlet>
      <servlet-name>reviewImage</servlet-name>
      <servlet-class>geonotes.ReviewImage</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>reviewThumbNailImage</servlet-name>
      <servlet-class>geonotes.ReviewThumbNailImage</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>reviewThumbNailImage</servlet-name>
      <url-pattern>/reviewThumbNailImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>reviewImage</servlet-name>
      <url-pattern>/reviewImage</url-pattern>
    </servlet-mapping>
</web-app>
